.Rojo {
	width:200px;
	height:200px;
	background:#FF0000;
	position:static;
	opacity:0.8;
}
.Morado {
	width:100px;
	height:100px;
	background:#9900CC;
	position:absolute;
	left:50px;
	top:50px;
	opacity:0.8;
}
.Amarillo {
	width:50px;
	height:50px;
	background:#FFFF00;
	position:absolute;
	top:50px;
	left:50px;
	opacity:0.8;
}